html {
    font-family: roboto;
    font-size: 13px;
}

.mode,
.info {
    position: absolute;
}

.mode {
    margin: 12px;
    left: 91%;
    font-size: 29px;
}

.info {
    margin: 5px;
    left: 95%;
    font-size: 37px;
}

.mode:hover,
.info:hover {
    opacity: 0.5;
    cursor: pointer;
}

body {
    margin: 0px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "controller canvas";
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
}

input,
button,
select {
    font-size: 13px;

}

input {
    border-style: none;
}

.controller {
    display: inline-block;
    align-self: center;
    justify-self: center;
    position: relative;
}

canvas {
    justify-self: center;
    align-self: center;
}

.container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 10% 70% 15%;
    grid-template-areas:
        "shape"
        "main"
        "camera";
    height: 70vh;
    align-self: center;
}

.shape {
    grid-area: shape;
    align-self: center;
}

.main {
    grid-area: main;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 20% 55% 25%;
    grid-template-rows: 2;
    grid-template-areas:
        "posZTitle posZInput posZBtn"
        "scaleXTitle scaleXInput scaleXBtn"
        "scaleYTitle scaleYInput scaleYBtn"
        "scaleZTitle scaleZInput scaleZBtn"
        "rotationXTitle rotationXInput rotationXBtn"
        "rotationYTitle rotationYInput rotationYBtn"
        "rotationZTitle rotationZInput rotationZBtn"
        "colRTitle colRInput colRBtn"
        "colGTitle colGInput colGBtn"
        "colBTitle colBInput colBBtn";
}

button {
    border: none;
    margin: 0 5%;
    height: 28px;
    width: 60px;
}

button:hover {
    cursor: pointer;
}

#shapeSelector {
    height: 50%;
}

input {
    height: 10px;
    padding: 9px;
}

span {
    margin: 0 5% 0 10%;
}

.camera {
    grid-area: camera;
    display: grid;
    align-items: center;
    grid-template-columns: 35% 68%;
    grid-template-rows: 2;
    grid-template-areas:
        "cameraPosTitle cameraPosSlide"
        "cameraRotateTitle cameraRotate";
}

.cameraPosSlide {
    justify-self: center;

}

.camera>span {
    margin: 0 0 0 9%;
}

#sun {
    font-size: 22px;
    margin: 14px;
    display: none;
    color: #f6f6f6;
}