body {
    margin: 0px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "controller canvas";
    width: 100%;
    height: 100vh;
}

.controller {
    display: inline-block;
    align-self: center;
    justify-self: center;
    position: relative;
}

canvas {
    justify-self: center;
    align-self: center;
}

.container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 10% 70% 15%;
    grid-template-areas:
        "shape"
        "main"
        "camera";
        height: 70vh;
        align-self: center;
}

.shape {
    grid-area: shape;
    align-self: center;
    justify-self: center;
}

.main {
    grid-area: main;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 2;
    grid-template-areas:
        "posZTitle posZInput posZBtn"
        "scaleXTitle scaleXInput scaleXBtn"
        "scaleYTitle scaleYInput scaleYBtn"
        "scaleZTitle scaleZInput scaleZBtn"
        "rotationXTitle rotationXInput rotationXBtn"
        "rotationYTitle rotationYInput rotationYBtn"
        "rotationZTitle rotationZInput rotationZBtn"
        "colRTitle colRInput colRBtn"
        "colBTitle colBInput colBBtn"
        "colGTitle colGInput colGBtn";
}

button {
    border: none;
    margin: 0 5%;
    height: 20px;
}

input {
    height: 20px;
}

span {
    margin: 0 5% 0 10%;
}

.camera {
    grid-area: camera;
    display: grid;
    align-items: center;
    // justify-content: center;
    grid-template-columns: 32% 68%;
    grid-template-rows: 2;
    grid-template-areas: 
        "cameraPosTitle cameraPosSlide"
        "cameraRotateTitle cameraRotate";
}

.cameraPosSlide {
    // align-self: center;
        justify-self: center;

}

.camera > span {
    margin: 0 0 0 10%;
}

